#tab-nav {
    margin-top: 60px !important;
}

#tab-nav li a {
    font-size: 16px;
}

.uk-active {
    font-weight: 500;
}

#content>div {
    padding-top: 30px !important;
}

.uk-tab>.uk-active>a {
    border-color: #3C91E6 !important;
    border-bottom-width: 2px !important;
}