<div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
    <div class="uk-width-1-1">
        <app-navbar></app-navbar>
    </div>

    <div class="uk-width-1-5 uk-visible@l">
        <app-sidebar></app-sidebar>
    </div>

    <div class="uk-width-expand" style="min-height: calc(100vh - 70px);">

        <div class="uk-container uk-section">

            <!-- Header  -->
            <div class="uk-clearfix">
                <h2 class="uk-float-left">Projects</h2>
                <button class="uk-button uk-button-primary uk-float-right uk-text-bold uk-border-pill" routerLink="/projects/add">
                    <span class="uk-margin-small-right" uk-icon="plus"></span> Add Project
                </button>
            </div>

            <!-- Table of users  -->
            <div class="uk-card uk-card-default uk-padding border-radius-20">

                <!-- Loading fetching users...  -->
                <!-- <div class="uk-text-center" [hidden]="!loading">
                    <div uk-spinner="ratio:1.5"></div>
                </div> -->

                <!-- Users  -->
                <table class="uk-table uk-table-divider uk-text-nowrap table-hover">
                    <thead>
                        <tr class="uk-text-center">
                            <th>Project Name</th>
                            <th>Start date</th>
                            <th>Attached Users</th>
                            <th>Cash</th>
                            <th>Expenses</th>
                            <th>Balance</th>
                            <th>More</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>