.attached-user {
    background: whitesmoke;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.attached-user input {
    border-radius: 5px;
    margin-right: 25px;
}