<div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
    <div class="uk-width-1-1">
        <app-navbar></app-navbar>
    </div>

    <div class="uk-width-1-5 uk-visible@l" style="max-width: 240px !important;">
        <app-sidebar></app-sidebar>
    </div>

    <div class="uk-width-expand" style="min-height: calc(100vh - 70px);">

        <div class="uk-container uk-section">
            <h2>Update project details</h2>

            <form (ngSubmit)="onEditProject(editProjectform)" #editProjectform="ngForm" class="uk-form-stacked uk-card uk-card-default uk-padding border-radius-20">

                <!-- Loading fetching projetc...  -->
                <h3 *ngIf="loading" class="uk-text-center uk-margin-remove">
                    <span class="uk-margin-left" uk-spinner="ratio: 1.5"></span>
                </h3>

                <!-- No project found...  -->
                <h3 *ngIf="!loading && !currentProject" class="uk-text-center" style="margin: 20px;">There is no project with this Id...</h3>

                <fieldset *ngIf="!loading && currentProject" class="uk-fieldset">

                    <!-- Project name field  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                            Project Name
                            <span class="uk-text-danger">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input class="uk-input border-radius-10" [class.uk-form-danger]="projectName.invalid && projectName.touched" type="text" placeholder="project name" name="ProjectName" [(ngModel)]="currentProject.projectName" #projectName="ngModel" required minlength="3">
                        </div>

                        <!-- Validation errors -->
                        <div *ngIf="projectName.errors && projectName.touched">
                            <p [hidden]="!projectName.errors?.required" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Project name required.</p>
                            <p [hidden]="!projectName.errors?.minlength" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Must be more at least 3 caracters.</p>
                        </div>
                    </div>

                    <!-- Start date field  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                            Start Date
                            <span class="uk-text-danger">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input class="uk-input border-radius-10" [class.uk-form-danger]="startDate.invalid && startDate.touched" type="date" name="startDate" [(ngModel)]="currentProject.startDate" #startDate="ngModel" required>
                        </div>

                        <div *ngIf="startDate.errors && startDate.touched">
                            <p [hidden]="!startDate.errors?.required" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Start Date required.</p>
                        </div>
                    </div>

                    <!-- Assign Users field  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                            Assign Users
                            <span class="uk-text-danger">*</span>
                        </label>

                        <div class="uk-form-controls">

                            <input class="uk-input uk-text-left border-radius-10" [class.uk-form-danger]="editProjectform.controls.attachedUsers?.errors?.notAttached" value="Change selected users" type="button">

                            <div uk-dropdown="mode: click" style="padding: 10px 15px">

                                <ul *ngFor="let user of currentProject.assignedUsers" class="uk-nav uk-dropdown-nav">
                                    <li class="attached-user" ngModelGroup="assignedUsers">
                                        <input class="uk-checkbox uk-margin-small-right" type="checkbox" name="{{user.uid}}" [ngModel]="user.isAssigned" style="border-radius: 5px;" checked>

                                        <img src="{{user.imgURL === null ? user.defaultImg : user.imgURL}}" class="uk-border-circle uk-text-middle uk-margin-small-right" width="40" height="40"> {{user.fullName}}
                                    </li>

                                </ul>
                            </div>

                            <!-- Validation errors -->
                            <div>
                                <p *ngIf="editProjectform.controls.assignedUsers?.errors?.notAssigned" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">The project must be attached by at least one user.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Location field  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                            Location <span class="uk-text-danger">*</span>
                        </label>

                        <div class="uk-form-controls">
                            <select class="uk-select border-radius-10" [class.uk-form-danger]="location.invalid && location.touched" [(ngModel)]="currentProject.location" name="location" #location="ngModel" required>
                                <option value="" selected disabled>Select Location</option>
                                <option>Pakistan</option>
                                <option>Sudia Arabia</option>
                            </select>
                        </div>

                        <!-- Validation errors -->
                        <div *ngIf="location.errors && location.touched">
                            <p [hidden]="!location.errors?.required" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Project location required.</p>
                        </div>
                    </div>

                    <!-- Is complete field  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text ">Project Progress</label>

                        <div class="complete-field uk-text-left" uk-grid style="margin: auto;">
                            <div class="uk-width-2-3 uk-flex uk-flex-middle" style="padding-left: 0px;">
                                <span>Project Complete</span>
                            </div>

                            <div class="uk-width-1-3 uk-text-right">
                                <label class="switch">
                                    <input type="checkbox" name="isComplete" [(ngModel)]="currentProject.isComplete">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Budget field  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                            Budget
                        </label>
                        <div class="uk-form-controls">
                            <input class="uk-input border-radius-10" type="number" min="0" placeholder="$1000.00" name="budget" [(ngModel)]="currentProject.budget">
                        </div>
                    </div>

                    <!-- Estime cost field  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">Estime Cost</label>
                        <div class="uk-form-controls">
                            <input class="uk-input border-radius-10" type="number" min="0" placeholder="$1000.00" name="estimeCost" [(ngModel)]="currentProject.estimeCost">
                        </div>
                    </div>

                    <!-- Estime Time field  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">Estime Time</label>
                        <div class="uk-form-controls">
                            <input class="uk-input border-radius-10" type="date" name="estimeTime" [(ngModel)]="currentProject.estimeTime">
                        </div>
                    </div>

                    <!-- Description  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">Project Description</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea border-radius-10" rows="4" placeholder="Project description" name="description" [(ngModel)]="currentProject.description"></textarea>
                        </div>
                    </div>

                    <!-- Submit  -->
                    <div *ngIf="editProcessLoading" class="uk-margin">
                        <button class="uk-button uk-button-warning uk-width-1-1 uk-text-bold uk-border-pill" type="submit" uk-spinner="ratio: 0.9"></button>
                    </div>
                    <div *ngIf="!editProcessLoading" class="uk-margin">
                        <button [disabled]="!editProjectform.dirty" class="uk-button uk-button-warning uk-width-1-1 uk-text-bold uk-border-pill" type="submit">save changes</button>
                    </div>

                </fieldset>
            </form>
        </div>

    </div>
</div>